* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container-cabecalho {
    padding: 10px;
    background-color: #3498db;
    margin: 5px;
    text-align: center;
    border-radius: 6px;
}

.cp-nome {
    border-radius: 6px;
    width: 150px;
    height: 30px;
    margin: 5px;
    border: none;
    padding: 5px;
    box-shadow: 1px 1px 3px black;
}

.btn-ativa {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 1px 1px 3px black;
    text-shadow: 1px 1px 3px black;
}

.btn-ativa:hover {
    border-radius: 5px;
    background: #205f8a;
    box-shadow: 2px 2px 5px 0px #00000040;
}

.btn-ativa:active {
    border-radius: 5px;
    background: #96c1df;
    box-shadow: 2px 2px 5px 0px #00000040;
    color: #000000;
}